---
import { getCollection, getEntry } from "astro:content";
import Icon from "./common/Icon.astro";

const allExperiences = await getCollection("experience");
const experiences = allExperiences.sort(
  (a, b) => a.data.sortOrder - b.data.sortOrder
);
---

<section id="experience" class="mt-14 mb-10 pt-11 section-glow">
  <div class="header | mb-8">
    <h2 class="fade">Experience</h2>
    <p class="fs-xs text-neutral-500">
      These are some of the work I did worth highlighting
    </p>
  </div>
  <div class="card-container | flex wrap gap-12">
    {
      experiences.map(({ data }) => (
        <div class="experience-card | card-glow p-4">
          <div class="card-header | flex align-center justify-between mb-2">
            <h5 class="fs-xs">{data.title}</h5>
            <span class="fs-xxs fw-semi-bold text-neutral-500">
              {data.date}
            </span>
          </div>
          <ul>
            {data.description?.map((jobDescritop) => (
              <li class="">{jobDescritop}</li>
            ))}
          </ul>
          <div class="flex fs-xs fw-semi-bold gap-2 mt-2">
            {data.link?.map(([title, link]) => (
              <a target="_blank" href={link} class="flex underline">
                {title} <Icon icon="externalLink" size="15" />
              </a>
            ))}
          </div>
        </div>
      ))
    }
  </div>
  <!-- <div class="flex center pb-13">
    <button>Check more</button>
  </div> -->
</section>

<style lang="scss">
  @use "../style/variables/mixins" as *;
  @use "../style/variables/functions" as *;

  section {
    @include screen(mobile-tablet) {
      margin-bottom: -4rem;
    }
  }

  .card-container {
    @include screen(mobile-tablet) {
      gap: size(6);
    }
  }

  .experience-card {
    width: 45%;
    @include screen(mobile-tablet) {
      width: 100%;
      .card-header {
        flex-wrap: wrap;
      }
    }
  }

  .experience-card {
    p,
    li {
      font-size: small;
      margin-left: 1rem;
    }
  }
</style>
