---
import { getCollection, getEntry } from "astro:content";
import Icon from "./common/Icon.astro";

const projects = await getCollection("projects");
const sortedProject = projects.sort(
  (a, b) => a.data.sortOrder - b.data.sortOrder
);
---

<section id="projects" class="mb-13 pt-11 section-glow">
  <h2 class="fade">Projects</h2>
  <p>I've hacked around few things worth looking at</p>

  <div class="card-container | flex wrap gap-10 mt-8">
    {
      sortedProject.map(({ data }) => (
        <div class="project-card | pt-3 card-glow">
          <a href={data.link} target="_blank" class="flex justify-between  px-3">
            <h4 class="text-neutral-500">{data.title}</h4>
            <Icon icon="externalLinkSolid" size="20" color="var(--color-accent-400)" />
          </a>
          <p class="description | my-5  px-3 line-clamp-3">
            {data.description}
          </p>
          <div class="card-footer | flex gap-3 bg-neutral-100 py-1 px-3">
            <a href={data.link} class="flex center gap-1">
              <Icon icon="github" size="15" />
              Github
            </a>
            <span>|</span>
            <ul class="flex gap-2">
              {data.tags?.map((jobDescritop) => (
                <li>{jobDescritop}</li>
              ))}
            </ul>
          </div>
        </div>
      ))
    }
  </div>
  <div class="flex center mt-10">
    <button>Check more</button>
  </div>
</section>

<style lang="scss">
  // this is only used to add media query for laptop specific styles
  @use "../style/variables/mixins";
  @use "../style/variables/functions" as *;


  section {
    @include mixins.screen(mobile-tablet) {
      margin-bottom: size(10);
    }
  }

  .card-container{
    @include mixins.screen(mobile-tablet) {
      gap: size(6);
    }
  }

  .project-card {
    width: 100%;
    // border: 1px solid grey;
    // border-top: 3px solid var(--color-accent-700);
    // border-radius: 5px;

    h4 {
      font-size: 1.2rem;
    }
    @include mixins.screen(laptop) {
      width: 40%;
    }

    .card-footer{
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .description {
    min-height: 3.7rem;
  }

  p,
  li,
  span,
  a {
    font-size: small;
  }

  ul {
    list-style: none;
  }
</style>

<!--  TODO: add illustration above
 - card background like gitness
 - on hover header color to accent
 - something about border and glow -->
