---
import { iconPaths } from "constants/IconPaths";

export interface Props {
  icon: keyof typeof iconPaths;
  color?: string;
  shade?: string;
  gradient?: boolean;
  size?: string;
  type?: "normal" | "button";
}
const {
  icon,
  color = "currentcolor",
  shade,
  size,
  type = "normal",
  ...props
} = Astro.props;

const properties = {
  "{{color}}": color,
  "{{size}}": size,
  "{{shade}}": shade,
};

const formattedPath = Object.keys(properties).reduce((path, current) => {
  return path.replaceAll(current, properties[current]);
}, iconPaths[icon]);
---

{
  type === "button" ? (
    <button data-type="flat" {...props}>
      <Fragment set:html={formattedPath} />
    </button>
  ) : (
    <Fragment set:html={formattedPath} />
  )
}
